body {

    font-family: Arial, sans-serif;
    
    color: #333;
    
    background-color: #f9f9f9;
    
    margin: 0;
    
    padding: 0;
    
    line-height: 1.6;
    
    }

header {

    background-image: url(images/img8.jpg);
    background-position: center center;
    background-size: contain;/*Resize to fit without cropping*/
    background-repeat: no-repeat;/*Ensure the image doesn`t repeat*/
    display: flex;

    padding: 20px;
    text-align: center;

     
    }
        
        
header h1 {
    
    display: inline-block;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: #fff;
        
    }
        
        
nav {
        
    margin-top: 50%;
    background: rgb(117, 50, 50);
    backdrop-filter: blur(10px);
    padding: 1rem;
    position: fixed;
    width: 80%;
    left: 10%;
    transform: translate(-50%);
    top: 5rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        
    }
        
        
nav a:hover {
        
    text-decoration: underline;
    
    color: aliceblue;

    transform-style: flat;
        
    }


main {

    padding: 20px;
        
    max-width: 800px;
        
    margin: 0 auto;
        
    }
        
        
main img {
        
    max-width: 100%;
        
    height: auto;
        
    display: block;
        
    margin: 20px 0;

    transition: transform 0.3s ease-in-out;
        
    }

footer {

    background-color: #333;
        
    color: white;
        
    text-align: center;
        
    padding: 10px;
        
    position: fixed;
        
    bottom: 0;
        
    width: 100%;
        
    }

p {

    font-size: 1.1em;
        
    }
        
        
a {
        
    color: #4CAF50;
        
    text-decoration: none;
        
    }
        
        
a:hover {
        
    text-decoration: underline;
        
    }

img {

    border: 1px solid #fffbbd;
        
    border-radius: 10px;
        
    }

main a[href^="mailto:"] {

    color: #ff5722;
        
    font-weight: bold;
        
    }

   /* styles.css */
.ranch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ff0303;
    padding: 10px;
    border-radius: 8px;
}

.ranch-image {
    
    margin-right: 20px;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
}

.ranch-description {
    flex: 1;
    font-size: 16px;
    color: #333;
    align-items: right;
}

@media (max-width: 768px) {
    .ranch-container {
        flex-direction: column;
    }

    .ranch-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
