body {

    font-family: Arial, sans-serif;
    
    color: #333;
    
    background-color: #f9f9f9;
    
    margin: 0;
    
    padding: 0;
    
    line-height: 1.6;
    
    }

header {
    position: relative; /* Ensure header is positioned relative for z-index to work */
    background-image: url(images/img8.jpg);
    background-position: center center;
    background-size: 70%; /* Decrease the width by 30% */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 20px;
    text-align: center;
    z-index: 1; /* Ensure header is above other elements */
}

header h1 {
    position: relative; /* Ensure h1 is positioned relative for z-index to work */
    z-index: 2; /* Ensure h1 is above the header background image */
    display: inline-block;
    margin: 0;
    text-align: center;
    color: #fff;
}

nav {
    position: relative; /* Ensure nav is positioned relative for z-index to work */
    z-index: 3; /* Ensure nav is above the header background image */
    margin-top: 0;
    background: rgb(117, 50, 50);
    backdrop-filter: blur(10px);
    padding: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
        
        
nav a:hover {
        
    text-decoration: underline;
    
    color: aliceblue;

    transform-style: flat;
        
    }


main {

    padding: 20px;
        
    max-width: 800px;
        
    margin: 0 auto;
        
    }
        
        
main img {
        
    max-width: 100%;
        
    height: auto;
        
    display: block;
        
    margin: 20px 0;

    transition: transform 0.3s ease-in-out;
        
    }

footer {

    background-color: #333;
        
    color: white;
        
    text-align: center;
        
    padding: 10px;
        
    position: fixed;
        
    bottom: 0;
        
    width: 100%;
        
    }

p {

    font-size: 1.1em;
        
    }
        
        
a {
        
    color: #4CAF50;
        
    text-decoration: none;
        
    }
        
        
a:hover {
        
    text-decoration: underline;
        
    }

img {

    border: 1px solid #fffbbd;
        
    border-radius: 10px;
        
    }

main a[href^="mailto:"] {

    color: #ff5722;
        
    font-weight: bold;
        
    }

   /* styles.css */
.ranch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ff0303;
    padding: 10px;
    border-radius: 8px;
}

.ranch-image {
    
    margin-right: 20px;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
}

.ranch-description {
    flex: 1;
    font-size: 16px;
    color: #333;
    align-items: right;
}

@media (max-width: 768px) {
    .ranch-container {
        flex-direction: column;
    }

    .ranch-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
